<header>
  <nav class="border split-nav">
    <img src="/assets/img/logo-wavebuy.png"  style="width: 60px;" alt="">
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <label for="collapsible1">
        <div class="bar1">.</div>
        <div class="bar2">.</div>
        <div class="bar3">.</div>
      </label>
      <div class="collapsible-body">
        <ul class="inline">
          <li><a href="home">Home</a></li>
          <li><a href="products">Products</a></li>
          <li><a href="about">About</a></li>
        </ul>
        
        <a href="cart">
          <div id="cart-div">
            <img class="border-white" src="/assets/icon/shopping-cart.png" style="width: 50px;" alt=""><span id="cart-counter"></span>
          </div>
        </a>
      </div>
    </div>
  </nav>
</header>