<div class="container text-center">
    <h1>Bienvenue sur WaveBuy</h1>
    <div class="row">
        <h3 class="margin">HTML, CSS</h3>
        <div class="progress margin-bottom">
          <div class="bar w-75">75%</div>
        </div>
        <h3 class="margin">JavaScript</h3>
        <div class="progress margin-bottom">
          <div class="bar success w-40">40%</div>
        </div>
        <h3 class="margin">PHP, C#, C++</h3>
        <div class="progress margin-bottom">
          <div class="bar muted w-5">5%</div>
        </div>
      </div>
</div>